body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0;
}

footer {
    text-align: center;
    color: white;
    padding: 0;
    background: #373737; /* Optional background color */
    width: 100%;
}
